/* ===================================================
Regions
=================================================== */
.c-header,
.c-footer {
	text-align: center;
	font-size: 1rem;
	background: white;
}

/* ---------------------------------------------------
Header
--------------------------------------------------- */
.c-header {
	padding: 1rem;
	border-bottom: 1px solid #eee;
}

/* ---------------------------------------------------
Main
--------------------------------------------------- */
.r-main {
	margin: 1rem auto;
}

/* ---------------------------------------------------
Footer
--------------------------------------------------- */
.c-footer {
	border-top: 1px solid #eee;
}
